/*fonte para titulos*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@600&family=Pacifico&display=swap');

/* ?????? por algum motivo temos uma barra de rolagem na vertical obs. pode ser alguma div /*/
body {
    overflow-x: hidden;
}

/* cores de texto */
.w {
    color: white;
}

.b {
    color: black;
}

/* fundo do site */
.fundo {
    filter: brightness(30%);
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    z-index: 0;
}

/*menu NAV*/
.navbar {
    position: fixed;
    z-index: 1;
}

.txt-nav {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
}

.nav-item {
    margin-left: 1rem;
}


/*blocos DIV*/
.fundo {
    filter: brightness(50%);
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    z-index: 0;
}

.txt-titulo {
    font-family: 'Pacifico';
    font-size: 80px;
}

.sub-titulo {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.conteudo hr, .conteudo p{
    width: 60rem;
}

/*titulos de div*/
h1 {
    font-family: 'pacifico';
    text-align: center;
    font-size: 5rem;
}

#button-top {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background-color: blue;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Seta - botão voltar ao topo*/
.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 5px 5px 0;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;

}




/* ADICIONAIS ADICIONAIS ADICIONAIS ADICIONAIS */

/*POPUP*/
.popup {
    z-index: 10;
    color: white;
    width: 80vw;
    height: 80vh;
    padding: 15px;
    border: solid 5px #4c4d4f;
    background: #920000;
    display: block;
}

/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar-track {
    background-color: #0000007a;
}

::-webkit-scrollbar {
    width: 6px;
    background: #63636393;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

@media (max-width:720px) {
    .txt-titulo {
        font-size: 30px;
    }

    .conteudo {
        width: 19rem;
    }
}