/*fonte para titulos*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@600&family=Pacifico&display=swap');

/* ?????? por algum motivo temos uma barra de rolagem na vertical obs. pode ser alguma div /*/
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}


/* "página 01" */
#pacotes {
    background-image: url(../img/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* "página 02" */
#nos {
    background-image: url(../img/mulher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#entre-contato {
    background-image: url(../img/londres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* cores de texto */
.w {
    color: white;
}

.b {
    color: black;
}


/*menu NAV*/
.navbar {
    z-index: 1;
    /* nav acima de tudo */
}

.txt-nav {
    text-transform: uppercase;
    /* letras maiusculas */
    font-size: .9rem;
    /* tam fonte */
    font-weight: 700;
    /* espessura fonte */
}

.nav-item {
    margin-left: 1rem;
    /* distancia itens */
}


/*blocos DIV*/
.fundo {
    background-color: rgb(255, 255, 255);
    /* cor de fundo */
    height: 100vh;
    /* tamanhos */
    width: 100vw;
    /* tamanhos */
    z-index: 0;
    /* colocando o fundo no fundo */
}

/* Atributos gerais */

/* margin do bootstap falhando */
.m-auto {
    margin: auto;
}

/* largura das pages iguais */
.um div,
.dois div {
    width: 50rem;
}


/* ajustes imagem de fundo */
img {
    object-fit: cover;
    vertical-align: middle;
}

/* fonte desenhada para titulos */
.txt-titulo {
    font-family: 'Pacifico';
    font-size: 70px;
}

/* textos do site */
.sub-titulo {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.kombi div,
.kombi div img {
    width: 50vw;
}

.kombi {
    display: flex;
    flex-wrap: nowrap;
}

.kombi-img {
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.kombi-txt {
    margin: auto;
}

.kombi-txt hr {
    border: solid 1px black;
    width: 30rem;
    margin: auto;
}

.predios {
    height: 80vh;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    margin-left: 7rem;
}

/*titulos de div*/
h1 {
    font-family: 'pacifico';
    text-align: center;
    font-size: 5rem;
}

#button-top {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background-color: blue;
    position: fixed;
    bottom: 2rem;
    right: 2rem;

}

/* Seta - botão voltar ao topo*/
.bi-arrow-up-circle-fill {
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    color: blue;

}


/* voos grid */



/* voos grid (ida e volta) */

.ida {
    width: 210px;
    height: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    color: #767676;
    background-color: white;
}

.volta {
    width: 210px;
    height: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    color: #767676;
    background-color: white;
}

.ida p,
.volta p {
    margin-top: 8px;
    font-size: 20px;
    font-family: Inter, sans-serif;
}

#opcao-voo-2 {
    display: none;
}

.ida:focus {
    color: orange;
    border: solid orange 5px;
}

.volta:focus {
    color: blue;
    border: solid blue 5px;
}

.data-ida {
    width: 150px;
    height: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    color: #767676;
    background-color: white;
}

.data-ida2 {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    color: #767676;
    background-color: white;
}

.data-volta {
    width: 150px;
    height: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    color: #767676;
    background-color: white;
}

/* voos grid (aeroportos) */
.coluna-voos {
    width: 100%;
}

.col .setas {
    width: 100%;
}



.umm {
    margin-left: auto;
}

.doiis {
    margin-right: auto;
}

.ida-volta-input {
    width: auto;
    margin: auto;
}

.circle-flecha {
    margin: 0;
}

.setas {
    margin: 0;
}

.airport {
    width: 190px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}

.circle-flecha {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.flecha {
    margin-top: 8px;
    margin-left: -2px;
}



.persona {
    width: 200px;
    border: solid 1px black;
    border-radius: 50px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.persona input {
    width: 100px;
    height: auto;
    border: none;
    padding: 10px;
}

.buscar-c-volta,
.buscar-ida {
    text-align: center;
    background-image: linear-gradient(to right, rgb(255, 55, 0), rgb(255, 166, 0));
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.buscar-ida {
    background-image: linear-gradient(to right, rgb(35, 0, 139), rgb(0, 13, 255));
}

.buscar-c-volta {
    background-image: linear-gradient(to right, rgb(255, 55, 0), rgb(255, 166, 0));
}






footer {
    background-color: black;
    color: white;
}



/* ADICIONAIS ADICIONAIS ADICIONAIS ADICIONAIS */


/* animações */




/*POPUP*/
.popup {
    z-index: 10;
    color: white;
    width: 70vw;
    height: 44.49vw;
    padding: 15px;
    border-radius: 25px;
    display: block;
    animation-name: popup;
    animation-duration: 2s;
    display: none;
}

#popup {
    background-image: url(../img/anuncio.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* resultado  */
.mostrar{
    width: 50vw;
    height: 80vh;
    background-color: aliceblue;
    border-radius: 25px;
    margin-left: 0;
    padding: 1rem;
    display: none;
}


/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar-track {
    background-color: #0000007a;
}

::-webkit-scrollbar {
    width: 6px;
    background: #63636393;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}




/* Animações e interatividade */
#opcao-voo-2 {
    animation-duration: 2s;
    animation-name: slidein2;
}

@keyframes slidein2 {
    from {
        margin-left: 10%;
        opacity: 0%;
    }

    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

#opcao-voo-1 {
    animation-name: slidein1;
    animation-duration: 2s;
}

@keyframes slidein1 {
    from {
        margin-left: -10%;
        opacity: 0%;
    }

    to {
        margin-left: initial;
        opacity: 100%;
    }
}

@keyframes popup {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }

}



/* RESPONSIVIDADE PARA TELAS PEQUENAS --500PX-- */
@media screen and (max-width: 600px) {

    .txt-titulo {
        font-size: 40px;
    }

    .sub-titulo {
        font-size: 14px;
    }

    .um div,
    .dois div {
        width: 25rem;
    }

    /* Tela 3 -  */
    .kombi div,
    .kombi div hr {
        width: 50vw;
    }

    .kombi-img {
        height: 25rem;

    }

    .kombi {
        display: flex;
        flex-wrap: wrap;
    }

    #nos{
        width: 100vw;
    }

    /* tela 3 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
    .predios {
        height: 25vh;
    }

    /* voos grid (aeroportos) */
    .coluna-voos {
        width: 100%;
    }

    .col .setas {
        width: 100%;
    }


    .predios {
        height: 40vh;
        margin-left: 0rem;
    }
    /* fundos nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */

}

/* RESPONSIVIDADE PARA TELAS MÉDIAS --800PX-- */
@media screen and (max-width: 900px) {

    .txt-titulo {
        font-size: 60px;
    }

    .sub-titulo {
        font-size: 18px;
    }

    .um div,
    .dois div {
        width: 30rem;
    }

    /* Tela 3 -  */
    .kombi div,
    .kombi div img {
        width: 50vw;
    }

    .kombi {
        display: flex;
        flex-wrap: wrap;
    }

    #nos{
        width: 100vw;
    }
}