/*fonte para titulos*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Pacifico&display=swap');

/* ?????? por algum motivo temos uma barra de rolagem na vertical obs. pode ser alguma div /*/
body {
    overflow-x: hidden;
}

/*menu NAV*/
.navbar {
    position: fixed;
    z-index: 1;
}

.txt-nav {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
}

.nav-item {
    margin-left: 1rem;
}


/*blocos DIV*/
.fundo {
    filter: brightness(60%);
    height: 100vh;
    width: 100vw;
}

.imgs {
    background-color: rgb(133, 133, 133);
    height: 100vh;
    width: 100vw;
}

/*titulos de div*/
h1 {
    font-family: 'pacifico';
    text-align: center;
    font-size: 5rem;
}




/* ADICIONAIS ADICIONAIS ADICIONAIS ADICIONAIS */

/*POPUP*/
.popup {
    z-index: 10;

    width: 100vw;
    height: 100vh;
    padding: 15px;
    border: solid 1px #4c4d4f;
    background: #646464;
    display: block;
}

/*BARRA DE NAVEGAÇÃO*/
::-webkit-scrollbar-track {
    background-color: #0000007a;
}

::-webkit-scrollbar {
    width: 6px;
    background: #63636393;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}