
#button-top {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background-color: blue;
    position: fixed;
    bottom: 2rem;
    right: 2rem;

}

/* Seta - botão voltar ao topo*/
.bi-arrow-up-circle-fill {
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    color: blue;

}